html, body {
	height: 100%;
}


#content-wrapper {
	margin: auto;
	max-width: 600px;
}
input:focus {
	outline: none;
}
h1, h2 {
	line-height: 1em;
}
h2 {
	margin-top: 1.5em;
}

pre {
	display: inline;
	background-color: rgba(255, 255, 255, .19);
	padding: .5em;
}
.date, .date-year, .date-month, .date-day {
	padding: .5em;
	margin-right: .4em;
	margin-bottom: .8em;
	border: 1px solid #aaa;
	border-radius: 3px;
	width: 140px;
}
.date-year {
	width: 60px;
}
.date-month, .date-day {
	width: 40px;
}
.input-toggles {
	margin-top: 12px;
}

.button {
	padding: .5em;
	margin-right: .4em;
	margin-bottom: .8em;
	border: 1px solid #aaa;
	border-radius: 0px 3px 3px 0;
    margin-left: -12px;
}
.date-3.button {
	border-radius: 3px;
	margin-left: 0;
}
